<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="card">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Fieles with Articles</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                            <th>Name</th>
                            <th>Size</th>
                            <th>Action</th>
                            </thead>
                            <tbody>
                            <ng-container *ngIf="files !== null">
                                <tr *ngFor="let file of files">
                                    <td>{{file.name}}</td>
                                    <td>{{(file.size) | filesize}}</td>
                                    <td>
                                        <div class="card-icon">
                                            <a href="{{filesUrl}}{{file.name}}" download>
                                                <i class="material-icons">cloud_download</i>
                                            </a>
<!--                                            <i class="material-icons">delete_forever</i>-->
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
